@{
    ViewBag.Title = "Home Page";
}
<h2 class="text-info text-center">Hangfire Demo</h2>
<hr />
<div class="row text-info text-center">
    <div class="col-md-6">
        <h4>Without using Hangfire</h4>
        <a href="~/Home/RunTask" class="btn btn-default btn-success">Run Task </a>
    </div>
    <div class="col-md-6">
        <h4>Using Hangfire</h4>
        <a href="~/Home/RunTaskWithHangfire" class="btn btn-default btn-info">Run Delayed Task</a> <br />
    </div>
</div>
